<div class="d-flex text-center text-white bg-dark "  style="background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1 class="text-danger">Zomato</h1>
            <p class="lead"> Welcome to Zomato! <br> Order delicious foods from your favourite restaurants<br>
                 
              </p>
            <!-- <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-black">View
                Campgrounds</a> -->
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2024 </p>
        </footer>


    </div>
  