<form (ngSubmit)=onSubmit()>
      <div class="mb-3">
        <label for="exampleFormControlInput1"  class="form-label">username</label>
        <input type="text" name="username" required minlength="4" [(ngModel)]="username" class="form-control" id="username" placeholder="username" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1"  class="form-label">Email</label>
        <input type="email" name="email" required minlength="4" [(ngModel)]="email" class="form-control" id="email" placeholder="email" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1"  class="form-label">Password</label>
        <input type="password" name="password" required minlength="4" [(ngModel)]="password" class="form-control" id="password" placeholder="password" >
      </div>
      <button type="submit" class="btn btn-primary mb-3">Signup</button>
  </form>
  